@charset "UTF-8";
/*----------------태그 디폴트------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*----------------컬러, 폰트사이즈, 마진, 패딩--------------------*/
* {
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

#root, body, html {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth; }

input:focus {
  outline: none; }

a {
  color: white;
  text-decoration: none; }

@keyframes slidup {
  0% {
    transform: translateY(0px); }
  40% {
    transform: translateY(-10px); } }

#intro-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  #intro-container .container {
    height: 100%;
    min-height: 55rem; }
    #intro-container .container .box {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%; }
      #intro-container .container .box .logo {
        display: flex;
        margin: 1rem;
        width: 10rem;
        height: auto; }
    #intro-container .container .back-number {
      position: absolute;
      top: -10rem;
      left: -3.5rem;
      font-size: 24rem;
      font-weight: 900;
      color: #F3F3F3;
      z-index: -1; }
    #intro-container .container .text {
      font-size: 1.5rem;
      flex-shrink: 1;
      position: relative;
      z-index: 1;
      margin-left: 110px; }
    #intro-container .container .content {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      height: 100%; }
  #intro-container .move {
    animation-name: slidup;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  #intro-container #maindescription-container {
    background-color: #E8E8E8; }
    #intro-container #maindescription-container .imgbox {
      animation-name: slidup;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
  #intro-container #introF1-container {
    background-color: #DEDEDE; }
    #intro-container #introF1-container .back-number {
      color: #E8E8E8; }
    #intro-container #introF1-container a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 3rem;
      width: 3rem;
      height: 3rem;
      background-color: #5D97DA;
      color: white;
      border-radius: 3rem;
      text-decoration: none;
      right: 5rem;
      z-index: 2; }
  #intro-container #introF2-container {
    background-color: #D2D2D2; }
    #intro-container #introF2-container .back-number {
      color: #E8E8E8; }
    #intro-container #introF2-container .imgbox {
      padding-top: 15rem; }
    #intro-container #introF2-container .text {
      padding-bottom: 10rem; }
  #intro-container #introF3-container {
    background-color: #BEBEBE; }
    #intro-container #introF3-container .content {
      height: 85%;
      position: relative;
      justify-content: flex-start; }
    #intro-container #introF3-container .back-number {
      color: #D2D2D2; }
    #intro-container #introF3-container .imgbox {
      padding-bottom: 5rem; }
    #intro-container #introF3-container .text {
      margin-top: 10rem;
      width: 100%;
      right: 3rem; }
    #intro-container #introF3-container .back-image {
      margin-top: 15%; }
    #intro-container #introF3-container #intro-search-container {
      display: flex;
      align-items: center;
      justify-content: center; }
      #intro-container #introF3-container #intro-search-container .input-box {
        background-color: white;
        width: 56rem;
        height: 4rem;
        border-radius: 30rem;
        border: 5px solid;
        display: flex;
        align-items: center;
        justify-content: space-evenly; }
        #intro-container #introF3-container #intro-search-container .input-box .input {
          display: flex;
          border: none;
          width: 40rem;
          font-size: 2rem; }
        #intro-container #introF3-container #intro-search-container .input-box .search-icon {
          width: 2.5rem;
          height: auto; }
  #intro-container #intro-footer-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: #595959;
    color: white;
    align-items: flex-end;
    justify-content: center; }
    #intro-container #intro-footer-container .kiwi {
      width: 100%;
      padding: 0 0 1rem 2rem;
      position: absolute; }
    #intro-container #intro-footer-container .copy {
      left: 50%;
      right: 50%;
      padding-bottom: 1rem; }
  #intro-container .title {
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 4rem;
    letter-spacing: 10px;
    margin-bottom: 0.8rem; }
  #intro-container .descript {
    color: #4571B4;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 2.5rem; }
  #intro-container button {
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
    background-color: #5D97DA;
    margin-top: 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.25); }
    #intro-container button:hover {
      background-color: #407BFF; }
  #intro-container .imgbox {
    display: flex;
    position: relative;
    max-width: 40%;
    height: 100%;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 1rem; }
  #intro-container .back-image {
    display: flex;
    position: absolute;
    max-width: 100%;
    height: 100%;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 1rem; }
  #intro-container .top {
    position: fixed; }

#main-container {
  height: 100%;
  width: 100%;
  background-color: #DEDEDE; }
  #main-container .icon, #main-container ion-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem 0 0.5rem; }
  #main-container ion-icon {
    --ionicon-stroke-width: 36px; }
  #main-container #header {
    display: flex;
    z-index: 50;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    position: fixed; }
    #main-container #header ion-icon:hover {
      color: #5D97DA; }
    #main-container #header .logo {
      margin-left: 1rem;
      height: 3rem; }
    #main-container #header .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 1rem; }
    #main-container #header #control-box {
      display: flex;
      position: absolute;
      align-items: center;
      height: 40px;
      left: 45%;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      z-index: 4; }
      #main-container #header #control-box .splitter {
        width: 2px;
        height: 1.4rem;
        background-color: black; }
    #main-container #header #main-search {
      display: flex;
      align-items: center;
      border: solid #5D97DA 2px;
      border-radius: 3rem;
      background-color: white; }
      #main-container #header #main-search input {
        transition: 0.5s;
        width: 5rem;
        border: none;
        margin-left: 1rem;
        background-color: inherit;
        margin: 0 3px 0 10px; }
        #main-container #header #main-search input:focus {
          width: 10rem; }

.darkbackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.615);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 0.5s forwards; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .darkbackground ion-icon[name='close-outline'] {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    cursor: pointer;
    --ionicon-stroke-width: 64px;
    color: #bdbdbd; }
    .darkbackground ion-icon[name='close-outline']:hover {
      color: #8d8d8d; }

#keyword-container {
  position: absolute;
  right: 1rem;
  top: 4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 30rem;
  border-radius: 1rem;
  padding: 1rem 0 1rem 1rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }
  #keyword-container ion-icon {
    position: absolute;
    left: 0rem;
    top: 0.3rem; }
  #keyword-container div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; }
  #keyword-container ul {
    display: flex;
    flex-wrap: wrap; }
    #keyword-container ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 4rem;
      height: 1.5rem;
      padding: 3px 1rem 0 1rem;
      margin: 0.3rem 0.7rem 0.3rem 0;
      border-radius: 4rem;
      background-color: gray;
      position: relative;
      transition: 0.5s; }
      #keyword-container ul li div {
        transition: 0.5s;
        position: relative;
        width: 0; }
      #keyword-container ul li ion-icon {
        position: absolute;
        display: none; }
    #keyword-container ul li.hover div {
      transition: 0.5s;
      width: 0.5rem; }
    #keyword-container ul li.hover ion-icon {
      display: block;
      width: 1rem;
      height: 1rem;
      top: -0.25rem;
      left: -0.2rem;
      color: #8d8d8d;
      transition: 0.5s; }

#signin-container {
  display: flex;
  position: relative;
  width: 700px;
  height: 500px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white; }
  #signin-container ion-icon {
    width: 1.5rem;
    height: 1.5rem;
    right: 10px;
    --ionicon-stroke-width: 64px; }
  #signin-container .sign-img {
    width: 50%;
    background-color: #000000; }
  #signin-container #signin-form {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: 1rem; }
    #signin-container #signin-form .title {
      font-size: 2rem;
      margin-top: 20px; }
    #signin-container #signin-form .box {
      height: 16rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1rem; }
      #signin-container #signin-form .box ion-icon {
        position: static;
        cursor: default;
        --ionicon-stroke-width: 32px;
        color: #8d8d8d; }
      #signin-container #signin-form .box .input {
        height: 2.2rem;
        width: 280px;
        border: 2px solid #949494;
        display: flex;
        align-items: center;
        border-radius: 1.5rem;
        margin: 12px 0px 12px 0px;
        position: relative; }
        #signin-container #signin-form .box .input p {
          position: absolute;
          font-size: 12px;
          right: 15px;
          top: 38px;
          color: #ff3d00; }
      #signin-container #signin-form .box input {
        width: 180px;
        height: 26px;
        border: none;
        font-size: 14px;
        margin-right: 20px; }
        #signin-container #signin-form .box input:focus {
          outline: none; }
      #signin-container #signin-form .box .invalid {
        border: 2px solid #ff3d00; }
        #signin-container #signin-form .box .invalid ion-icon {
          color: #ff3d00; }
      #signin-container #signin-form .box .valid {
        border: 2px solid #43972A; }
        #signin-container #signin-form .box .valid ion-icon {
          color: #43972A; }
    #signin-container #signin-form .submit {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px; }
      #signin-container #signin-form .submit .btn {
        height: 2.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        border-radius: 2.2rem;
        cursor: pointer; }
      #signin-container #signin-form .submit .sign {
        background-color: #167EF4;
        color: white; }
        #signin-container #signin-form .submit .sign:hover {
          background-color: #0053c0; }
      #signin-container #signin-form .submit .kakao {
        background-color: #FDE20B; }
        #signin-container #signin-form .submit .kakao:hover {
          background-color: #c6b100; }
      #signin-container #signin-form .submit .splitter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        color: #949494;
        margin: 5px 0 5px 0; }
        #signin-container #signin-form .submit .splitter .line {
          height: 1px;
          width: 110px;
          background-color: #949494;
          margin: 0 15px 0 15px; }
    #signin-container #signin-form .link {
      font-size: 12px; }
      #signin-container #signin-form .link span {
        color: #167EF4; }
        #signin-container #signin-form .link span:hover {
          cursor: pointer; }

#user-container {
  background-color: white;
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  #user-container ion-icon {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 24px;
    width: 24px;
    --ionicon-stroke-width: 64px; }
  #user-container .title {
    font-size: 24px;
    margin-top: 20px;
    color: #2069a8; }
  #user-container .form {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #user-container .form .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      height: 30px;
      margin-bottom: 30px; }
      #user-container .form .box .left {
        max-width: 90px; }
      #user-container .form .box .right {
        width: 200px; }
      #user-container .form .box input {
        width: 200px;
        height: 25px;
        border-radius: 20px;
        border-color: #8d8d8d;
        padding: 0 10px 0 10px; }
  #user-container .edit {
    margin-bottom: 40px; }
    #user-container .edit div {
      display: flex;
      width: 380px;
      justify-content: space-evenly; }
      #user-container .edit div div {
        width: 80px; }
        #user-container .edit div div:hover {
          background-color: #efefef; }
    #user-container .edit .withdraw {
      color: red; }

#node-setting-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }
  #node-setting-container ion-icon {
    width: 1.5rem;
    height: 1.5rem; }
  #node-setting-container .splitter {
    width: 1px;
    height: 1.5rem;
    background-color: #bdbdbd; }

.nodeoption-darkbackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.615);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 0.5s forwards; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.nodeoption-container {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative; }
  .nodeoption-container .iconCancel {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 30px; }
    .nodeoption-container .iconCancel:hover:before, .nodeoption-container .iconCancel:hover:after {
      background-color: #5D97DA;
      color: #5D97DA;
      cursor: pointer; }
    .nodeoption-container .iconCancel:before, .nodeoption-container .iconCancel:after {
      content: '';
      position: absolute;
      top: 51%;
      left: 50%;
      width: 26px;
      height: 2px;
      background-color: #000; }
    .nodeoption-container .iconCancel:before {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
    .nodeoption-container .iconCancel:after {
      -webkit-transform: translate(-50%, -50%) rotate(135deg);
      transform: translate(-50%, -50%) rotate(135deg); }
  .nodeoption-container .nodeoption-header {
    font-size: 24px;
    color: #2069a8; }
  .nodeoption-container .nodeoption-setting {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .nodeoption-container .nodeoption-setting .nodeoption-nodename {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem; }
      .nodeoption-container .nodeoption-setting .nodeoption-nodename span {
        display: flex;
        align-items: center; }
      .nodeoption-container .nodeoption-setting .nodeoption-nodename .nodeoption-nodename-input {
        height: 2rem;
        border-radius: 20px;
        border: 1px solid #5D97DA;
        display: flex;
        justify-content: center;
        align-items: center; }
        .nodeoption-container .nodeoption-setting .nodeoption-nodename .nodeoption-nodename-input input {
          border: none;
          margin: 0 1rem; }
    .nodeoption-container .nodeoption-setting .nodeoption-parentnode {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem; }
    .nodeoption-container .nodeoption-setting .setting-node-colors {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      flex-direction: column; }
      .nodeoption-container .nodeoption-setting .setting-node-colors > div {
        margin-top: 1rem; }
    .nodeoption-container .nodeoption-setting .colors {
      display: flex;
      justify-content: space-evenly; }
      .nodeoption-container .nodeoption-setting .colors .blue {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 3px solid rgba(32, 32, 32, 0.2);
        margin-right: 1rem;
        cursor: pointer;
        transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1);
        background-color: blue; }
        .nodeoption-container .nodeoption-setting .colors .blue.selected {
          border: 3px solid #5D97DA;
          transform: scale(1.2);
          box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
          transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
      .nodeoption-container .nodeoption-setting .colors .red {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 3px solid rgba(32, 32, 32, 0.2);
        margin-right: 1rem;
        cursor: pointer;
        transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1);
        background-color: red; }
        .nodeoption-container .nodeoption-setting .colors .red.selected {
          border: 3px solid #5D97DA;
          transform: scale(1.2);
          box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
          transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
      .nodeoption-container .nodeoption-setting .colors .orange {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 3px solid rgba(32, 32, 32, 0.2);
        margin-right: 1rem;
        cursor: pointer;
        transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1);
        background-color: orange; }
        .nodeoption-container .nodeoption-setting .colors .orange.selected {
          border: 3px solid #5D97DA;
          transform: scale(1.2);
          box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
          transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
      .nodeoption-container .nodeoption-setting .colors .yellow {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 3px solid rgba(32, 32, 32, 0.2);
        margin-right: 1rem;
        cursor: pointer;
        transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1);
        background-color: yellow; }
        .nodeoption-container .nodeoption-setting .colors .yellow.selected {
          border: 3px solid #5D97DA;
          transform: scale(1.2);
          box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
          transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
      .nodeoption-container .nodeoption-setting .colors .green {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 3px solid rgba(32, 32, 32, 0.2);
        margin-right: 1rem;
        cursor: pointer;
        transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1);
        background-color: green; }
        .nodeoption-container .nodeoption-setting .colors .green.selected {
          border: 3px solid #5D97DA;
          transform: scale(1.2);
          box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
          transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
  .nodeoption-container .nodeoption-footer {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nodeoption-container .nodeoption-footer .nodeaddBtn {
      height: 2rem;
      width: 10rem;
      border-radius: 20px;
      border: 1px solid black;
      cursor: pointer;
      display: inherit;
      justify-content: center;
      align-items: center; }
      .nodeoption-container .nodeoption-footer .nodeaddBtn:hover {
        border: 3px solid #5D97DA;
        background-color: #5D97DA;
        color: white;
        transform: scale(1.2);
        box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
        transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1); }

.sitesetting-darkbackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.615);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 0.5s forwards; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .sitesetting-darkbackground .sitesetting-container {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative; }
    .sitesetting-darkbackground .sitesetting-container .iconCancel {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 20px;
      right: 30px; }
      .sitesetting-darkbackground .sitesetting-container .iconCancel:hover:before, .sitesetting-darkbackground .sitesetting-container .iconCancel:hover:after {
        background-color: #5D97DA;
        color: #5D97DA;
        cursor: pointer; }
      .sitesetting-darkbackground .sitesetting-container .iconCancel:before, .sitesetting-darkbackground .sitesetting-container .iconCancel:after {
        content: '';
        position: absolute;
        top: 51%;
        left: 50%;
        width: 26px;
        height: 2px;
        background-color: #000; }
      .sitesetting-darkbackground .sitesetting-container .iconCancel:before {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg); }
      .sitesetting-darkbackground .sitesetting-container .iconCancel:after {
        -webkit-transform: translate(-50%, -50%) rotate(135deg);
        transform: translate(-50%, -50%) rotate(135deg); }
    .sitesetting-darkbackground .sitesetting-container .sitesetting-header {
      font-size: 24px;
      height: 20%;
      color: #2069a8; }
    .sitesetting-darkbackground .sitesetting-container .sitesetting-setting {
      display: flex;
      justify-content: space-around;
      height: 100%;
      width: 100%; }
      .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-fontsize {
        display: inherit;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 30%; }
        .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-fontsize .sitesetting-slider {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center; }
          .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-fontsize .sitesetting-slider input {
            -webkit-appearance: slider-vertical;
            height: 240px;
            width: 30%; }
          .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-fontsize .sitesetting-slider .scale {
            width: 70%;
            height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-fontsize .sitesetting-slider .scale p:nth-child(1) {
              font-size: 12px; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-fontsize .sitesetting-slider .scale p:nth-child(2) {
              font-size: 16px; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-fontsize .sitesetting-slider .scale p:nth-child(3) {
              font-size: 20px; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-fontsize .sitesetting-slider .scale p:nth-child(4) {
              font-size: 24px; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-fontsize .sitesetting-slider .scale p:nth-child(5) {
              font-size: 28px; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-fontsize .sitesetting-slider .scale p:nth-child(6) {
              font-size: 32px; }
      .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .splitter {
        width: 2px;
        height: 300px;
        background-color: #efefef; }
      .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color {
        display: inherit;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; }
        .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          height: 100%; }
          .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors .black {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 3px solid rgba(32, 32, 32, 0.2);
            margin-right: 1rem;
            cursor: pointer;
            transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1);
            background-color: #FFCCBC; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors .black.selected {
              border: 3px solid #5D97DA;
              transform: scale(1.2);
              box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
              transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
          .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors .red {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 3px solid rgba(32, 32, 32, 0.2);
            margin-right: 1rem;
            cursor: pointer;
            transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1);
            background-color: #EF9A9A; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors .red.selected {
              border: 3px solid #5D97DA;
              transform: scale(1.2);
              box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
              transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
          .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors .blue {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 3px solid rgba(32, 32, 32, 0.2);
            margin-right: 1rem;
            cursor: pointer;
            transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1);
            background-color: #1A237E; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors .blue.selected {
              border: 3px solid #5D97DA;
              transform: scale(1.2);
              box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
              transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
          .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors .yellow {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 3px solid rgba(32, 32, 32, 0.2);
            margin-right: 1rem;
            cursor: pointer;
            transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1);
            background-color: #B2DFDB; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors .yellow.selected {
              border: 3px solid #5D97DA;
              transform: scale(1.2);
              box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
              transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
          .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors .green {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 3px solid rgba(32, 32, 32, 0.2);
            margin-right: 1rem;
            cursor: pointer;
            transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1);
            background-color: #E8F5E9; }
            .sitesetting-darkbackground .sitesetting-container .sitesetting-setting .sitesetting-color .colors .green.selected {
              border: 3px solid #5D97DA;
              transform: scale(1.2);
              box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
              transition: all 0.55s cubic-bezier(0.77, 0, 0.175, 1); }
