@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

#root, body, html {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth; }

input:focus {
  outline: none; }

a {
  color: white;
  text-decoration: none; }

@keyframes slidup {
  0% {
    transform: translateY(0px); }
  40% {
    transform: translateY(-10px); } }

#intro-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  #intro-container .container {
    height: 100%;
    min-height: 55rem; }
    #intro-container .container .box {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%; }
      #intro-container .container .box .logo {
        display: flex;
        margin: 1rem;
        width: 10rem;
        height: auto; }
    #intro-container .container .back-number {
      position: absolute;
      top: -10rem;
      left: -3.5rem;
      font-size: 24rem;
      font-weight: 900;
      color: #F3F3F3;
      z-index: -1; }
    #intro-container .container .text {
      font-size: 1.5rem;
      flex-shrink: 1;
      position: relative;
      z-index: 1;
      margin-left: 110px; }
    #intro-container .container .content {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      height: 100%; }
  #intro-container .move {
    animation-name: slidup;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  #intro-container #maindescription-container {
    background-color: #E8E8E8; }
    #intro-container #maindescription-container .imgbox {
      animation-name: slidup;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
  #intro-container #introF1-container {
    background-color: #DEDEDE; }
    #intro-container #introF1-container .back-number {
      color: #E8E8E8; }
    #intro-container #introF1-container a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 3rem;
      width: 3rem;
      height: 3rem;
      background-color: #5D97DA;
      color: white;
      border-radius: 3rem;
      text-decoration: none;
      right: 5rem;
      z-index: 2; }
  #intro-container #introF2-container {
    background-color: #D2D2D2; }
    #intro-container #introF2-container .back-number {
      color: #E8E8E8; }
    #intro-container #introF2-container .imgbox {
      padding-top: 15rem; }
    #intro-container #introF2-container .text {
      padding-bottom: 10rem; }
  #intro-container #introF3-container {
    background-color: #BEBEBE; }
    #intro-container #introF3-container .content {
      height: 85%;
      position: relative;
      justify-content: flex-start; }
    #intro-container #introF3-container .back-number {
      color: #D2D2D2; }
    #intro-container #introF3-container .imgbox {
      padding-bottom: 5rem; }
    #intro-container #introF3-container .text {
      margin-top: 10rem;
      width: 100%;
      right: 3rem; }
    #intro-container #introF3-container .back-image {
      margin-top: 15%; }
    #intro-container #introF3-container #intro-search-container {
      display: flex;
      align-items: center;
      justify-content: center; }
      #intro-container #introF3-container #intro-search-container .input-box {
        background-color: white;
        width: 56rem;
        height: 4rem;
        border-radius: 30rem;
        border: 5px solid;
        display: flex;
        align-items: center;
        justify-content: space-evenly; }
        #intro-container #introF3-container #intro-search-container .input-box .input {
          display: flex;
          border: none;
          width: 40rem;
          font-size: 2rem; }
        #intro-container #introF3-container #intro-search-container .input-box .search-icon {
          width: 2.5rem;
          height: auto; }
  #intro-container #intro-footer-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: #595959;
    color: white;
    align-items: flex-end;
    justify-content: center; }
    #intro-container #intro-footer-container .kiwi {
      width: 100%;
      padding: 0 0 1rem 2rem;
      position: absolute; }
    #intro-container #intro-footer-container .copy {
      left: 50%;
      right: 50%;
      padding-bottom: 1rem; }
  #intro-container .title {
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 4rem;
    letter-spacing: 10px;
    margin-bottom: 0.8rem; }
  #intro-container .descript {
    color: #4571B4;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 2.5rem; }
  #intro-container button {
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
    background-color: #5D97DA;
    margin-top: 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.25); }
    #intro-container button:hover {
      background-color: #407BFF; }
  #intro-container .imgbox {
    display: flex;
    position: relative;
    max-width: 40%;
    height: 100%;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 1rem; }
  #intro-container .back-image {
    display: flex;
    position: absolute;
    max-width: 100%;
    height: 100%;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 1rem; }
  #intro-container .top {
    position: fixed; }

#main-container {
  height: 100%;
  width: 100%;
  background-color: #DEDEDE; }
  #main-container .icon, #main-container ion-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem 0 0.5rem; }
  #main-container ion-icon {
    --ionicon-stroke-width: 36px; }
    #main-container ion-icon:hover {
      color: #200096; }
  #main-container #header {
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    position: fixed; }
    #main-container #header .logo {
      margin-left: 1rem;
      height: 3rem; }
    #main-container #header .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 1rem; }
    #main-container #header #control-box {
      display: flex;
      position: absolute;
      align-items: center;
      height: 40px;
      left: 45%;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }
      #main-container #header #control-box .splitter {
        width: 2px;
        height: 1.4rem;
        background-color: black; }
    #main-container #header #main-search {
      display: flex;
      align-items: center;
      border: solid #5D97DA 2px;
      border-radius: 3rem;
      background-color: white; }
      #main-container #header #main-search input {
        transition: 0.5s;
        width: 5rem;
        border: none;
        margin-left: 1rem;
        background-color: inherit;
        margin: 0 3px 0 10px; }
        #main-container #header #main-search input:focus {
          width: 10rem; }
