@import "./ect.scss";

*{
  margin: 0;
  font-family: 'Roboto';
}

#root, body, html{
  position: relative;
  width: 100%;
  height: 100%;
}

input{
  &:focus{
    outline: none;
  }
}

#intro-container{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  .container{
    height: 100%;
    min-height: 60rem;
    .box{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .logo{
        display: flex;
        margin: 1rem;
        width: 10rem;
        height: auto;
      }
      
    }
    .back-number{
      position: absolute;
      top: -10rem;
      left: -3.5rem;
      font-size: 24rem;
      font-weight: 900;
      color: #F3F3F3;
      z-index: -1;
    }
    .text{
      font-size: 24px;
      flex-shrink: 0;
      position: relative;
      z-index: 0;
      margin-left: 110px;
    }
    .content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
  }

  #maindescription-container{
    background-color: #E8E8E8;
  }
  
  #introF1-container{
    background-color: #DEDEDE;
    .back-number{
      color: #E8E8E8;
    }
  }

  #introF2-container{
    background-color: #D2D2D2;
    .back-number{
      color: #E8E8E8;
    }
  }
  #introF3-container{
    background-color: #BEBEBE;
    .content{
      height: 85%;
    }
    .back-number{
      color: #D2D2D2;
    }
    #intro-search-container{
      display: flex;
      align-items: center;
      justify-content: center;
      .input-box{
        background-color: white;
        width: 56rem;
        height: 4rem;
        border-radius: 30rem;
        border: 5px solid;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .input{
          display: flex;
          border: none;
          width: 40rem;
          font-size: 2rem;
        }
        .search-icon{
          width: 2.5rem;
          height: auto;
        }
      }
    }
  }
  #intro-footer-container{
    width: 100%;
    height: 10rem;
  }
  .title{
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 64px;
    letter-spacing: 5px;
    margin-bottom: 0.8rem;
  }

  .descript{
    color: #4571B4;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 2.5rem;
  }

  button{
    width: 12rem;
    height: 3rem;
    font-size: 24px;
    color: white;
    background-color: $basic-blue;
    margin-top: 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.25);
    &:hover{
      background-color: #407BFF;
    }
  }
  .imgbox{
    max-width: 40%;
    flex-basis: 40%;
    margin-right: 70px;
    .circle{
      display: flex;
      width: 100%;
      padding-bottom: 100%;
      min-width: 20rem;
      height: auto;
      background-color: $basic-blue;
    }
  }
  .top{

    position: fixed;
  }
}