*{
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

#root, body, html{
  position: relative;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

input{
  &:focus{
    outline: none;
  }
}

a{
  color: white;
  text-decoration: none;
}


@keyframes slidup {
  0% {transform: translateY(0px);}
  40%{transform: translateY(-10px);}
}

#intro-container{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  .container{
    height: 100%;
    min-height: 55rem;
    .box{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .logo{
        display: flex;
        margin: 1rem;
        width: 10rem;
        height: auto;
        z-index: 5;
      }
      
    }
    .back-number{
      position: absolute;
      top: -10rem;
      left: -3.5rem;
      font-size: 24rem;
      font-weight: 900;
      color: #F3F3F3;
      z-index: -1;
    }
    .text{
      font-size: 1.5rem;
      flex-shrink: 1;
      position: relative;
      z-index: 1;
      margin-left: 110px;
    }
    .content{
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  .move{
    animation-name: slidup;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @media (max-width: 768px){
    .container{
      min-height: 50rem;
    }
    .back-number{
      display: flex;
      justify-content: center;
    }
    .title{
      display: flex;
      justify-content: center;
    }
    .descript{
      display: flex;
      justify-content: center;
    }
    text-align: center;
  }
  #maindescription-container{
    background-color: #E8E8E8;
    .imgbox{
      animation-name: slidup;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    @media (max-width: 768px){
      height: auto;
      .content{
        flex-direction: column;
      }
      .back-number{
        font-size: 10rem;
        width: 100vw;
        top: -8rem;
      }
      .btnArea{
        display: flex;
        justify-content: center;
      }
      .title{
        font-size: 2.5rem;
      }
      .descript{
        font-size: 2rem;
      }
      .sub-descript{
        font-size: 1rem;
      }
      .text{
        margin: 0;
      }
      .imgbox{
        max-width: 15rem;
      }
    }
    // .content{
    //   flex-direction: column;
    // }
  }
  
  
  #introF1-container{
    background-color: #DEDEDE;
    .back-number{
      color: #E8E8E8;
    }
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 3rem;
      width: 3rem;
      height: 3rem;
      background-color: $basic--blue--;
      color: white;
      border-radius: 3rem;
      text-decoration: none;
      right: 5rem;
      z-index: 2;
      @media(max-width: 768px){
        right: 3rem;
      }
    }
    @media (max-width: 768px){
      height: auto;
      .content{
        flex-direction: column-reverse;
      }
      .back-number{
        font-size: 10rem;
        width: 100vw;
        top: -8rem;
      }
      svg{
        margin-top: 10rem;
        max-height: 30rem;
      }
      .title{
        margin-top: 10rem;
        font-size: 2.5rem;
      }
      .descript{
        font-size: 2rem;
      }
      .sub-descript{
        font-size: 1rem;
      }
      .back-image{
        // margin-top: 10rem;
      }
      .text{
        margin: 0;
      }
      .imgbox{
        max-width: 18rem;
        max-height: 20rem;
      }
    }
  }

  #introF2-container{
    background-color: #D2D2D2;
    .back-number{
      color: #E8E8E8;
    }
    .imgbox{
      padding-top: 15rem;
    }
    .text{
      padding-bottom: 10rem;
    }
    
    @media(max-width:768px){
      height: auto;
      .content{
        flex-direction: column;
      }
      .back-number{
        font-size: 10rem;
        width: 100vw;
        top: -8rem;
      }
      .btnArea{
        display: flex;
        justify-content: center;
      }
      .text{
        margin: 0;
        padding: 0;
        width: 80%;
      }
      svg{
        margin-top: 5rem;
      }
      .back-image{
        margin-top: 20rem;
      }
      .imgbox{
        max-width: 18rem;
        padding: 0;
      }
      .title{
        margin-top: 10rem;
        font-size: 2.5rem;
      }
      .descript{
        font-size: 2rem;
      }
      .sub-descript{
        font-size: 1rem;
      }
    }
    // .content{
    //   justify-content: flex-start;
    // }
    // .imgbox{
    //   position: absolute;
    //   max-width: 30%;
    //   left: 65vw;
    //   top: 10rem;
    //   z-index: 0;
    // }
  }

  #introF3-container{
    background-color: #BEBEBE;
    .content{
      height: 85%;
      position: relative;
      justify-content: flex-start;
    }
    .back-number{
      color: #D2D2D2;
    }
    .imgbox{
      padding-bottom: 5rem;
      max-width: 40rem;
    }
    .text{
      margin-top: 10rem;
      width: 100%;
      right: 3rem;
    }
    .back-image{
      margin-top: 15%;
    }
    #intro-search-container{
      display: flex;
      align-items: center;
      justify-content: center;
      .input-box{
        background-color: white;
        width: 90%;
        height: 4rem;
        border-radius: 30rem;
        border: 5px solid;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .input{
          display: flex;
          border: none;
          width: 80%;
          font-size: 2rem;
        }
        .search-icon{
          width: 2.5rem;
          height: auto;
        }
      }
    }
    @media(max-width:768px){
      height: auto;
      .content{
        flex-direction: column-reverse;
      }
      .back-number{
        font-size: 10rem;
        width: 100vw;
        top: -8rem;
      }
      .btnArea{
        display: flex;
        justify-content: center;
      }
      .text{
        margin: 0;
        padding: 0;
        width: 80%;
        right: 0;
      }
      svg{
        margin-top: 0rem;
      }
      .back-image{
        margin-top: 20rem;
      }
      .imgbox{
        max-width: 18rem;
        padding: 0;
      }
      .title{
        margin-top: 10rem;
        font-size: 2.5rem;
      }
      .descript{
        font-size: 2rem;
      }
      .sub-descript{
        font-size: 1rem;
      }
    }
  }
  #intro-footer-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: #595959;
    color: white;
    align-items: flex-end;
    justify-content: center;
    .kiwi{
      width: 100%;
      padding: 0 0 1rem 2rem;
      position: absolute;
    }
    .copy{
      left: 50%;
      right: 50%;
      padding-bottom: 1rem;
    }
    @media (max-width: 768px){
      .kiwi{
        text-align: start;
      }
    }
  }
  .title{
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 4rem;
    letter-spacing: 10px;
    margin-bottom: 0.8rem;
  }

  .descript{
    color: #4571B4;
    font-size: 3rem;
    font-weight: 300;
    // letter-spacing: 10px;
    margin-bottom: 2.5rem;
  }

  button{
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
    background-color: $basic--blue--;
    margin-top: 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.25);
    &:hover{
      background-color: #407BFF;
    }
  }
  .imgbox{
    display: flex;
    position: relative;
    max-width: 40rem;
    height: 100%;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 1rem;
    // circle{
    //   animation-name: slidup;
    //   animation-duration: 2s;
    //   animation-iteration-count: infinite;
    // }
  }
  .back-image{
    display: flex;
    position: absolute;
    max-width: 100%;
    height: 100%;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 1rem;
  }
}