#node-setting-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 11rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    ion-icon{
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        &:hover{
            color: $basic--blue--;
        }
    }
    .splitter{
        width: 1px;
        height: 1.5rem;
        background-color: $light--grey--;
        // margin: 0px 5px 0px 5px;
    }
    }