.nodeoption-darkbackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.615);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein 0.5s forwards;
    ion-icon{
      position: absolute;
      right: 30px;
      top: 20px;
      height: 24px;
      width: 24px;
      --ionicon-stroke-width: 64px !important;
    }
    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

.nodeoption-container{
    width : 400px;
    height: 400px;
    background-color:white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.26);
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    padding: 20px 40px; // TODO: Padding 통일
    position: relative;
    .iconCancel{
      @include iconCancel(20px);
      position: absolute;
      top: 20px;
      right: 30px;
    }
  .nodeoption-header{
    font-size:$h4;
    color: $dark--blue--;
  }
    .nodeoption-setting{
      width:90%;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @mixin option {
      
        display:flex;
        justify-content: space-between;
        margin-top: $margin * 2;
      }
    .nodeoption-nodename{
      span{
        display: flex;
        align-items: center
      }
        @include option;
        .nodeoption-nodename-input{
          height:2rem;
          border-radius:20px;
          border: 1px solid $basic--blue--;
          display:flex;
          justify-content: center;
          align-items: center;
          & input{
            border:none;
            margin:0 $margin;
          }
        }
      
    }
    .nodeoption-parentnode{
      @include option;
    }
    .setting-node-colors{
      @include option;
      flex-direction:column;
      & > div{
        margin-top: $margin;
      }
    }
    @mixin color {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 3px solid rgba(32, 32, 32, 0.2);
      margin-right: $margin;
      cursor: pointer;
      transition: all .55s cubic-bezier(.77,0,.175,1);
      &.selected {
        border: 3px solid $basic--blue--;
        transform: scale(1.2);
        box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
        transition: all .55s cubic-bezier(.77,0,.175,1);
      }
    }
    .colors{
      display:flex;
      justify-content: space-evenly;
      & .blue {
        @include color;
        background-color: #5bc2e7;
      }

      & .red {
        @include color;
        background-color: #ff9b85;
      }

      & .orange {
        @include color;
        background-color: #ffd97d;
      }

      & .yellow {
        @include color;
        background-color: #fff07c;
      }

      & .green {
        @include color;
        background-color: #b0d689;
      }
    }
  }
  .nodeoption-footer{
    height:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    .nodeaddBtn {
      height:2rem;
      width:10rem;
      border-radius:20px;
      border: 1px solid black;
      cursor: pointer;
      display:inherit;
      justify-content: center;
      align-items: center;
      &:hover {
        border: 3px solid $basic--blue--;
        background-color: $basic--blue--;
        color:white;
        transform: scale(1.2);
        box-shadow: 1px 1px 5px 1px rgba(85, 85, 85, 0.2);
        transition: all .2s cubic-bezier(.77,0,.175,1);
      }
    }
  }
}

