#signin-container{
    display: flex;
    position: relative;
    width: 700px;
    height: 500px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
    transition: 0.5s;
    @media(max-width: 768px){
        width: 350px;
    }
    ion-icon{
        width: 1.5rem;
        height: 1.5rem;
        right: 10px;
        --ionicon-stroke-width: 64px;
    }
    .sign-img{
        width: 50%;
        background-color: #000000;
        object{
            width: 7rem;
            padding: $padding;
            fill: white;
        }
    }
    #signin-form{
        display: flex;
        width: 350px;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        .title{
            font-size: 2rem;
            margin-top: 20px;
            
        }
        .box{
            height: 16rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 1rem;
            ion-icon{
                position: static;
                cursor: default;
                --ionicon-stroke-width: 32px;
                color: $dark--grey--;
            }
            .input{
            height: 2.2rem;
            width: 280px;
            border: 2px solid #949494;
            display: flex;

            align-items: center;
            border-radius: 1.5rem;
            margin: 12px 0px 12px 0px;
            position: relative;
                p{
                    position: absolute;
                    font-size: 12px;
                    right: 15px;
                    top: 38px;
                    color: #ff3d00;
                }
            }
            input{
                width: 180px;
                height: 26px;
                border: none;
                font-size: 14px;
                margin-right: 20px;
                &:focus{
                outline: none;
                }
            }
            .invalid{
                border: 2px solid #ff3d00;
                ion-icon{
                    color: #ff3d00;
                }
            }
            .valid{
                border: 2px solid #43972A;
                ion-icon{
                    color: #43972A;
                }
            }
        }
        .submit{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        .btn{
            height: 2.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 280px;
            border-radius: 2.2rem;
            cursor: pointer;
        }
        .sign{
            background-color: #167EF4;
            color: white;
            &:hover{
                background-color: #0053c0;
            }
        }
        .kakao{
            background-color: #FDE20B;
            &:hover{
                background-color: #c6b100;
            }
        }
        .splitter{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            color: #949494;
            margin: 5px 0 5px 0;
            .line{
            height: 1px;
            width: 110px;
            background-color: #949494;
            margin: 0 15px 0 15px;
            }
        }
        }
        .link{
            font-size: 12px;
            span{
                color: #167EF4;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    @media (max-width: 768px){
        .sign-img{
            display: none;
        }
        
    }
}